.git
.github
.env
.env.*
!.env.example

node_modules
vendor/bin
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/system-audit-2026-09-17/*
storage/app/deployment-backup-*

tests
phpunit.xml
phpunit.xml.dist

*.log
*.sql
*.sqlite
*.sqlite3
.DS_Store
vendor/
